body{
  background: black;
  margin: 0;
  font-family: 'Arimo', sans-serif;
}

h1{
  font-size: 40px;
  margin: 0;
}
h2{
  font-size: 35px;
  margin: 0;
}
h3{
  font-size: 30px;
  margin: 0;
}
p{
  font-size: 25px;
  margin: 0;
}

/* ALL FOOTER STYLING */
footer{
  position:fixed;
  bottom: 0px;
  padding: 0;
  text-align: center;
  width: 100%;
  background: #0b542d;
}
.footerList{
  padding: 0;
}
.footerList li{
  display: inline-block;
  font-size: 1em;
}
.footerList li a{
  color: rgb(225,255,225);
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
}
.footerList li a:hover{
  color: grey;
  text-decoration: underline;
}

.container{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* HOME PAGE STYLING */
.homeDiv{
  background-image: url('../imgs/yosemite.gif');
  background-size: cover;

  text-align: center;
  color: white;
}

.name{
  padding-top: 4.5em;
  padding-bottom: 1em;
  font-family: 'Cormorant Garamond', serif;
  font-size: 45px;
}
.andClass{
  padding: .5em 0 .5em 0;
}
.seattleClass{
  padding: 1em 0 6em 0;    
  font-family: 'Cormorant Garamond', serif;
  font-size: 32px;
}

/*ABOUT STYLING*/
.aboutDiv{
  background: #23628c;
  color: white;
}
.aboutImg{
  width: 430px;
  height: 100%;
  margin: 0 -.75em 0 .5em;
  float: right;
}
.bigName{
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.aboutWriting{
  text-align: justify;
  padding-top: 1em;
}
.aboutWriting ul{
  text-align: center;
  padding: 1em 0 1em 0;
  margin: 0;
}
.aboutWriting ul li{
  display: inline-block;
  padding: 0 20px 10px 20px;
}
.aboutWriting ul li a{
    color: black;
}

/*RESUME STYLING */
.resumeDiv{
  background: #a8a7a7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a8a7a7, #8392a3, #3e4f66); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a8a7a7, #8392a3, #3e4f66); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a8a7a7, #8392a3, #3e4f66); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a8a7a7, #8392a3, #3e4f66); /* Standard syntax */

  text-align: center;
}
.centered-text{
  padding: 1em 0 1em 0;
}
.centered-text a{
  color: black;
}
.centered-text a:hover{
  color: white;
}
.resumeImg{
  padding: 1.5em 0 1em 0;
}
.resumeText{
  padding-top: 3em;
}
.bottomOfResume{
  padding-bottom: 3em;
}

/*PROJECTS SECTION STYLING*/
.projectsDiv{
  background: #62bab1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #2f4945, #3ddbcb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #2f4945, #3ddbcb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #2f4945, #3ddbcb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #2f4945, #3ddbcb); /* Standard syntax */
  color: white;
}
.projectsHeadLine{
  padding: 1em 0 1em 0;
  text-align: center;
}
.projectsImg{
  width: 30%;
  height: auto;
  display: inline;
  float: right;
}
.projectsImg:hover{
  opacity: .7;
}
.projectsText{
  padding: .5em 0 .5em 0;
  text-align: left;
}
.projectsGitLink{
  text-align: center;
  display: block;
  padding: .5em 0 1em 0;
  color: #3ddbcb;
  text-decoration: none;
  font-size: 25px;
}
.projectsGitLink:hover{
  color: white;
  font-size: 26px;
  text-decoration: underline;
}
.projectName{
  text-align: left;
  clear:right; 
}
.lastPTag{
  padding-bottom: 100px;
}

/*SKILLS STYLING*/
.contactDiv{
  background-image: url('../imgs/kinect.gif');
  background-size: cover;
  padding: 0 0 12em 0;
  font-family: Tahoma, sans-serif;
  text-align: center;
}
.skillsText{
  padding-top: 2em;
  padding-bottom: 1em;
}
.skillCol{
  display: inline-block;
  background: rgba(255,255,255,0.7);
  padding: 0 .5em 0 .5em;
}

.inlineBlock{
  display: inline-block;
  width: 69%;
  padding-right: 5px;
}



