<h2 id="portfolio-heading">Projects</h2>

<div class="text-padding" id="portfolio-padding"><!--this is where flex is -->
  <div class="portfolio-div">
    <h4>Euclid</h4>
    <a href={{euclidLink}}>
      <img class="portImgs" src={{euclidImg}}>
    </a>
    <p class="portDesc">{{euclidDesc}}</p>
  </div>

  <div class="portfolio-div">
    <h4>Accio Bike</h4>
    <a href={{accioBikeLink}}>
      <img class="portImgs" src={{accioBikeImg}}>
    </a>
    <p class="portDesc">{{accioBikeDesc}}</p>
  </div>

  <div class="portfolio-div">  
    <h4>Wubba Lubba 4 Square</h4>
    <a href={{wubbaLubbaLink}}>
      <img class="portImgs" src={{wubbaLubbaImg}}>
    </a>
    <p class="portDesc">{{wubbaLubbaDesc}}</p>
  </div>

  <div class="portfolio-div">
    <h4>Artemis</h4>
    <a href={{artemisLink}}>
      <img class="portImgs" src={{artemisImg}}>
    </a>
    <p class="portDesc">{{artemisDesc}}</p>
  </div>
</div>


